<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>Create Album</h1>
     <form action="<%= albums_url %>" method = "POST">
     <%= auth_token %>
      <label for="Title">Title
        <input type="text" id = "Title" name = "album[title]">
      </label>
      <label for="Year">Year
        <input type="number" id = "Year" name = "album[year]" min="0">
      </label>
      <label for="Band_id">Band Name
        <select id = "Band_id" name = "album[band_id]">
          <option disabled selected>-- select a band name --</option>
          <% @bands.each do |band| %>
            <option value="<%= band.id %>"><%= band.name %></option>
          <% end %>
      </label>
        <input type="radio" name = "album[live]" id = "Live" value = true checked>
      <label for="Live">Live</label>
        <input type="radio" name = "album[live]" id = "Studio" value = false>
      <label for="Studio">Studio</label>
      <input type="submit" value="Create Album">
     </form>
  </body>
</html>