<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>Update Band</h1>
     <form action="<%= band_url(@band) %>" method = "POST">
     <%= auth_token %>
     <input type="hidden" name="_method" value="PATCH">
      <label for="Name">Name
        <input type="text" id = "Name" name = "band[name]" value = "<%= @band.name %>">
      </label>
      <input type="submit" value="Update Band">
     </form>
  </body>
</html>