<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% @bands.each do |band| %>
    <br>
     <a href="<%= band_url(band) %>"><%= band.id %>.<%= band.name %></a>
    <% end %>
  </body>
</html>